*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#1b1b1b;
    color:#e4b400;
    margin:0;
    margin-bottom: 2rem;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    position:sticky; /*Esto es lo que hace que el menu sea sticky*/
    top:0;
}

header img{
    height: 50px;
    margin-right: 1rem;
}

header h1{
    color: #e4b400;
    margin: 0;
}

/*Ajustar el navegador al margen izquierdo*/
nav{
    margin-left:auto
}

nav a{
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    background-color: #333;
    border-radius: 5px; /*Para darle curva a la esquina*/
}

nav a:hover, nav a.active{
    background-color: #e4b400;
    color: #000;
}

/*A partir de aqui es todo para los personajes*/
main{
    padding: 2rem;
}
/*Esto es par ael texto que pone Personatges Principals*/
#personatges.section h2{
    color: #e4b400;
    text-align: center;
    margin-bottom: 2rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 2rem; /*Esto es la distancia entre contenderos*/
}
/*Opciones para modificar la lista*/
.lista{
    background-color: #333;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    box-shadow: 0 4px 8px rgba(#000);
    text-align: center;
}

.lista img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.lista ul{
    padding: 0;
    color: #e4b400;
    text-align: left;
}
.lista ul li{
    margin: 0.3rem 0;
}
.lista p{
    color: #ccc;
    font-size: 0.9rem;
    margin-top: 1rem;
    line-height: 1.5;
}
footer{
    background-color:#1b1b1b;
    color: #e4b400;
    text-align: center;
    padding: 1rem;
    margin-top: 10rem;
}